# **Prueba #2**

En la siguiente prueba se evalua de manera EXCLUSIVA lo que se solicita, cualquier otra respuesta adicional a ella será valorada, más no evaluada. Entregue la prueba via correo electrónico a tomas.atehortua@udea.edu.co con copia a toatga93@gmail.com,  antes de el martes 18 de Febrero a las 06:00:00 hora colombiana.

La solución del examen debe ser entregada en formato PruebaI_<InicialesParticipante1>_<InicialesParticipante2>_<InicialesParticipante1>.py Ej: `PruebaII_TAG_NNN_NNN.py` que en primer lugar incluya como comentarios los nombres y cédulas de los participantes. En segundo lugar Cada uno de los ejercicios debe ser una función
lista para ser llamada como `ejercicio_i_j` sin ningún argumento requerido, ver ejemplo acontinuación:

## **Ejercicio 0** (0 pts)
1. Haga una función que devuelva un string de Hola mundo
2. Haga una función que sume 1 y 2

## **Ejercicio 1** (20 pts)

Realice un gráfico de dispersión de el dataset de iris discutido en clase, en el eje x utilice la longitud del pétalo y en el eje y utilice el grosor del pétalo. Asegúrese de que la leyenda permita diferenciar las 3 clases de manera sencilla.

## **Ejercicio 2** (35 pts)

Para el dataset de `weather_2016_2020_daily` del repositorio de datos del curso, realice los siguientes desarrollos

1. Formatee la variable `Date` para que sea un datetime y vuélva dicha columna el índice (devuelva el DataFrame)
2. Haga una agrupación por cada 10 días para las variables de temperatura, piense bien qué operación de agregación utilizará para cada una de las 3
3. Realice un descomposición en tendencia, estacionalidad y ruido de la variable `Temp_avg` del DataFrame original. Retorne la figura de la descomposición que cree que se ajuste mejor según la discusión de clase. En la documentación de la función describa cuál modelo escogió y porqué
4. Realice un promedio movil simple de la variable `Temp_avg` por intervalos de a semana (devuelva la gráfica guardada en el directorio desde el que se corre el código).

## **Ejercicio 3** (45 pts)

Carge el cuadro de datos del repositorio de datos del curso llamado `hep_exe.csv`

En física de altas energías registro por registro se construye una variable llamada "momento transverso faltante" ($p_T^{miss}$) como el negativo de la suma vectorial del momento transverso ($p_T$)de los otros objetos en el registro. En el cuadro encontrará los valores de momento transverso de cuatro muones ($\mu$) por evento y sus respectivas direcciones. El momento transverso faltante se debe calcular como un vector.

Recuerde que para vectores dos dimensionales como los que debe tratar:

1. $$\vec{p_T} = p_{Tx} \hat{i}+p_{Ty} \hat{j}$$
2. $$p_T^2 = p_{Tx}^2 + p_{Ty}^2$$
3. $$\phi = \arctan(\frac{p_{Ty}}{p_{Tx}})$$
4. $$p_{Ty} = p_{T} \sin(\phi)$$
5. $$p_{Tx} = p_{T} \cos(\phi)$$

Calcule (y retorne un DataFrame exclusivamente con estas) las componentes cartesianas del momento transverso faltante $p_{Tx}^{miss}$ y $p_{Ty}^{miss}$ como

$$p_{Tx}^{miss} = -\sum_{i = 0}^{3}p_{Tx}(\mu_i)$$
$$p_{Ty}^{miss} = -\sum_{i = 0}^{3}p_{Ty}(\mu_i)$$

In [3]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/tomasate/Datos_Clases/refs/heads/main/Datos_1/hep_exe.csv', index_col = 'Unnamed: 0')
df.head()

,muon_pt0,muon_pt1,muon_pt2,muon_pt3,muon_phi0,muon_phi1,muon_phi2,muon_phi3
1,78.910120,54.357124,51.410744,47.867046,-2.754886,-2.064899,-1.957962,-1.482839
4,96.970600,43.362560,42.420110,23.046053,-1.524798,-1.137223,-1.337255,0.050066
5,146.786090,55.395863,33.978516,30.571487,-1.532569,-0.489997,-0.761958,-1.185869
6,133.650730,56.260902,51.993450,29.246851,1.591500,1.814229,1.100479,2.505571
8,56.075607,52.727030,36.171978,34.916450,-2.827459,2.336437,-2.881545,-1.823418

(31301, 8)