# **Prueba \#1**

En la siguiente prueba se evalua de manera EXCLUSIVA lo que se solicita, cualquier otra respuesta adicional a ella será valorada, más no evaluada. Entregue la prueba via correo electrónico a tomas.atehortua@udea.edu.co con copia a toatga93@gmail.com,  antes de el lunes 10 de Febrero a las 06:00:00 hora colombiana.

La solución del examen debe ser entregada en formato PruebaI_<InicialesParticipante1>_<InicialesParticipante2>_<InicialesParticipante1>.py Ej: `PruebaI_TAG_NNN_NNN.py` que en primer lugar incluya como comentarios los nombres y cédulas de los participantes. En segundo lugar Cada uno de los ejercicios debe ser una función
lista para ser llamada como `ejercicio_i_j` sin ningún argumento requerido, ver ejemplo acontinuación:

## **Ejercicio 0** (0 pts)
1. Haga una función que devuelva un string de Hola mundo
2. Haga una función que sume 1 y 2

In [5]:
def ejercicio_0_0():
    """
    Respuesta al ejercicio 0.0
    """
    return("Hola mundo")

def ejercicio_0_1():
    """
    Respuesta al ejercicio 0.1
    """
    return 1+2

## **Ejercicio 1** (34 pts)

Realice los siguientes ejercicios con numpy **IMPORTANTE: EVITE USAR CICLOS FOR NATIVOS DE PYTHON, USE EXLUSIVAMENTE OPERACIONES VECTORIZADAS**

1. Resolver el siguiente sistema de ecuaciones. **11 pts**

$$
2x + 3y - z + 4w + 5v = 15
$$

$$
x - 2y + 4z - 3w + v = 6
$$

$$
3x + 2y - 3z + 5w - 2v = 11
$$

$$
4x + y - 2z + 3w + 2v = 8
$$

$$
x + y + z + w + v = 7
$$

2. Calcule el valor del número de Euler o constante de Napier $e = 2,71828$ como:

$$e = \sum_i ^{\infty} \frac{1}{n!}$$

  ¿Qué precisión en términos de el número de términos necesita para dar cuenta de los primeros 5 números de la coma decimal? **12 pts**
  
  **Remark**: Requerirá de algo de creatividad para calcular el factorial sin el uso de ciclos for ni recursividad, siéntase libre de buscar en internet, diferentes tipos de soluciones o módulos.

3. Ecuentre los auto valores de la siguiente matriz.  **11 pts**

$$
\begin{pmatrix}
2 & 1 & 1 \\
4 & 3 & 2 \\
1 & 1 & 2 \\
\end{pmatrix}
$$

## **Ejercicio 2** (25%)

Construya un DataFrame a partir del siguiente diccionario

`exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 12, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}`

con las siguientes etiquetas para los índices

`labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']`

1. Seleccione solo las columnas *name* y *score*.
  
2. Filtre las filas donde el número de intentos (attemps) sea mayor que 2.

3. Filtre las filas donde el *score* se encuentre entre 15 y 20 (incluidos)

4. Cambie el *score* en la fila 'd' a 11.5

5. Agregue una nueva fila con etiqueta 'k' al dataframe con un valor que usted desee para cada columna

6. Borre la fila 'k' y entregue nuevamente el DataFrame original.

7. Ordene el DataFrame por nombre en orden ascendente.

8. Reemplace los valores de la columna *qualify* que contiene los valores *yes* y *no* por los valores booleanos True y False respectivamente.

## **Ejercicio 3** (33%)

Importe el dataset `athletes` del repositorio del curso y realice las siguientes tareas:

1. Importarlo como nombre athletes
2. Filtre el dataframe tal que solo se quede con los atletas que hayan ganado al menos una medalla.
3. Calcule la masa muscular por fila con una función como

$$I_{m.m.} = \frac{Weight}{Height^2}$$

4. Agrupe los datos por calculando la media por deporte para cada una del resto de características. ¿Cuál es el deporte en el que los jugadores tienen mayor peso promedio?

5. ¿Cuál es el pais con más participación femenina?